.nav-button {
  background-color: #df6951;
  height: 50px;
  width: 150px;
  color: white;
  border: 0;
  border-radius: 5px;
  margin-left: 10vw;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
}
.nav-logo {
  width: 70%;
}
/* Basic CSS for the navbar */
.navbar {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #df6951;
  color: black;
}

/* CSS for the collapsible menu in mobile view */
.navbar .icon {
  display: none;
  cursor: pointer;
}

.navbar .icon.active {
  background-color: #333;
  color: white;
}

/* Center the content in mobile view */
@media screen and (max-width: 600px) {
  .logo {
    flex: 0 0 auto; /* Keeps the logo at the far left */
  }

  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    backdrop-filter: blur(10px);
    z-index: 1;
    width: 100%;
    text-align: center; /* Center the pages horizontally in mobile view */
  }

  .nav-items.show {
    display: flex;
  }

  .nav-items a {
    padding: 10px 20px;
    display: block;
  }

  .navbar .icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  /* Button styling for mobile view */
  .nav-button {
    display: block;
    margin: 10px 0 15px 0;
    margin-left: 32vw;
    align-items: center;
  }
}

/* Button styling for PC view */
@media screen and (min-width: 601px) {
  .nav-button {
    /* position: absolute; */
    right: 20px;
  }

  .nav-items {
    display: flex;
    justify-content: center; /* Center the pages horizontally in PC view */
  }
}

@media screen and (min-width: 100px) and (max-width: 299px) {
}
@media screen and (min-width: 300px) and (max-width: 500px) {
}
@media screen and (min-width: 501px) and (max-width: 850px) {
}
@media screen and (min-width: 851px) and (max-width: 1200px) {
}
